@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a.active {
  color: blue;
}

a {
  color: gray;
}

::-webkit-scrollbar {
  display: none;
}